[submodule "formicine"]
	path = formicine
	url = https://github.com/kaitamkun/formicine
[submodule "pingpong"]
	path = pingpong
	url = git://github.com/kaitamkun/pingpong.git
[submodule "icu"]
	path = icu
	url = https://github.com/unicode-org/icu.git
[submodule "haunted"]
	path = haunted
	url = git://github.com/kaitamkun/haunted.git
