[submodule "formicine"]
	path = formicine
	url = https://github.com/heimskr/formicine
[submodule "pingpong"]
	path = pingpong
	url = https://github.com/heimskr/pingpong.git
[submodule "haunted"]
	path = haunted
	url = https://github.com/heimskr/haunted.git
[submodule "strender"]
	path = strender
	url = https://github.com/heimskr/strender
[submodule "cpr"]
	path = cpr
	url = https://github.com/whoshuu/cpr.git
